.detailspage {
  display: flex;
  width: 1300px;
  margin: 0 auto;
}

.detailspage .info {
  width: 70%;
  padding: 1rem;
  box-sizing: border-box;
}

.detailspage .postcard {
  width: 30%;
  box-sizing: border-box;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .detailspage {
    flex-direction: column;
  }

  .detailspage .info,
  .detailspage .topposts {
    flex: 0 0 100%;
  }
}
