.topposts {
  color: #000;
}

.topposts h3 {
  font-weight: 500;
  margin-bottom: 20px;
  text-decoration: underline;
  justify-self: flex-end;
}

.topposts .top {
  display: flex;
  align-items: center;
  width: 75%;
  justify-self: flex-end;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.topposts .top .image {
  width: 110px;
  height: 65px;
}

.topposts .top .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.topposts .top .more {
  padding-left: 20px;
}

.topposts .top .more .title {
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding-bottom: 3px;
}

.topposts .top .more .title:hover {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
}

.topposts .top .more .subtitle {
  font-size: 13px;
  font-weight: 400;
  display: block;
}
