.topposts {
  width: 90%;
  color: #000;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 25px 0 0 20px;
  margin-top: 25px;
}

.topposts h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 3px 0 15px 0;
  text-decoration: underline;
}

.topposts .top {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  padding: 8px 5px;
  margin-bottom: 8px;
  border-bottom: 1px solid lightgray;
}

.topposts .top .image {
  width: 110px;
  height: 65px;
}

.topposts .top .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.topposts .top .more {
  padding-left: 20px;
}

.topposts .top .more .title {
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding-bottom: 3px;
}

.topposts .top .more .title:hover {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
}

.topposts .top .more .subtitle {
  font-size: 13px;
  font-weight: 400;
  display: block;
}
