.post {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.post img {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
  object-fit: cover;
}

.post .body {
  margin: 0 auto;
  padding: 10px 12px 14px 12px;
  color: #000000;
  text-align: left;
}

.post .body .dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.post .body .dl svg {
  font-size: 20px;
  color: green;
}

.post .body .title {
  color: #111827;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.75rem;
  text-decoration: none;
}

.post .body .title:hover {
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.post .body .subtitle {
  margin: 5px 0;
}

/* ........... Tablet ..............*/

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .post {
    width: 90%;
    margin: 0 auto;
  }
}

/* ............ Mobile ............... */

@media only screen and (max-width: 425px) {
  .post {
    width: 90%;
    margin: 0 auto;
  }

  .post img {
    height: 30vh;
  }
}
