.userdetails {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 20px 0;
  color: #000000;
}

.userdetails .author {
  display: flex;
  align-items: center;
}

.userdetails .author .author_image {
  margin-right: 20px;
}

.userdetails .author .author_image img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.userdetails .author .author_info {
  text-align: left;
  width: 70%;
}

.userdetails .author .author_info span:first-child {
  font-size: 24px;
  font-weight: 800;
  display: block;
}

.userdetails .author .author_info span:nth-child(2) {
  display: block;
}

.userdetails .author_btns a {
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.userdetails .author_btns a:first-child {
  background: #e8eef2;
  color: #000000;
  margin-right: 10px;
}

.profileinfo .author_btns a:last-child {
  background: #1a80e6;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .userdetails {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .userdetails .author {
    padding-bottom: 40px;
  }
}
