.footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background: #030712;
  margin-top: 60px;
  padding: 30px 100px;
  color: #fff;
}

.footer .about a {
  color: #fff;
  text-decoration: underline;
}

.footer .about span {
  display: block;
  padding: 8px 0;
}

.footer .links ul {
  list-style-type: none;
  text-align: center;
}

.footer .links ul li a {
  color: #fff;
}

.footer .links ul li a:hover {
  text-decoration: underline;
}

.footer .terms {
  text-align: center;
}

/* ........... Tablet ..............*/

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 30px 40px;
  }
}

/* ............ Mobile ............... */

@media only screen and (max-width: 425px) {
  .footer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 30px 40px;
  }

  .footer .links ul {
    text-align: left;
  }

  .footer .links ul li {
    display: inline;
    padding: 0 10px;
  }
}
