.search {
  display: flex;
  align-items: center;
  background: #f9fafb;
  margin: 5px 0 25px 0;
}

.search .search-icons {
  padding: 0 5px 0 10px;
  color: #000;
}

.search input {
  width: 100%;
  padding: 15px 0;
  border: none;
  background: #f9fafb;
  color: #000;
}

.search input:focus {
  outline: none;
  border: none;
}
